<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/assets/css/bootstrap.min.css")
    @Styles.Render("~/assets/css/custom.css")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link " href="/">Paciente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/nuevo_paciente">Nuevo Paciente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/citas">Ver Citas</a>
                    </li>

                </ul>
            </div>
           

        </div>
      
    </div>
    <div class="container body-content">
        @RenderBody();
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>